# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
courseproject.exe
UnityCrashHandler64.exe
UnityPlayer.dll
courseproject_Data/app.info
courseproject_Data/boot.config
courseproject_Data/globalgamemanagers
courseproject_Data/globalgamemanagers.assets
courseproject_Data/level0
courseproject_Data/level1
courseproject_Data/level1.resS
courseproject_Data/level2
courseproject_Data/resources.assets
courseproject_Data/resources.assets.resS
courseproject_Data/RuntimeInitializeOnLoads.json
courseproject_Data/ScriptingAssemblies.json
courseproject_Data/sharedassets0.assets
courseproject_Data/sharedassets0.assets.resS
courseproject_Data/sharedassets0.resource
courseproject_Data/sharedassets1.assets
courseproject_Data/sharedassets1.assets.resS
courseproject_Data/sharedassets1.resource
courseproject_Data/sharedassets2.assets
courseproject_Data/Managed/Assembly-CSharp.dll
courseproject_Data/Managed/Mono.Security.dll
courseproject_Data/Managed/mscorlib.dll
courseproject_Data/Managed/netstandard.dll
courseproject_Data/Managed/Newtonsoft.Json.dll
courseproject_Data/Managed/System.ComponentModel.Composition.dll
courseproject_Data/Managed/System.Configuration.dll
courseproject_Data/Managed/System.Core.dll
courseproject_Data/Managed/System.Data.dll
courseproject_Data/Managed/System.Diagnostics.StackTrace.dll
courseproject_Data/Managed/System.dll
courseproject_Data/Managed/System.Drawing.dll
courseproject_Data/Managed/System.EnterpriseServices.dll
courseproject_Data/Managed/System.Globalization.Extensions.dll
courseproject_Data/Managed/System.IO.Compression.dll
courseproject_Data/Managed/System.IO.Compression.FileSystem.dll
courseproject_Data/Managed/System.Net.Http.dll
courseproject_Data/Managed/System.Numerics.dll
courseproject_Data/Managed/System.Runtime.Serialization.dll
courseproject_Data/Managed/System.Runtime.Serialization.Xml.dll
courseproject_Data/Managed/System.ServiceModel.Internals.dll
courseproject_Data/Managed/System.Transactions.dll
courseproject_Data/Managed/System.Xml.dll
courseproject_Data/Managed/System.Xml.Linq.dll
courseproject_Data/Managed/System.Xml.XPath.XDocument.dll
courseproject_Data/Managed/Unity.InputSystem.dll
courseproject_Data/Managed/Unity.TextMeshPro.dll
courseproject_Data/Managed/Unity.Timeline.dll
courseproject_Data/Managed/UnityEngine.AccessibilityModule.dll
courseproject_Data/Managed/UnityEngine.AIModule.dll
courseproject_Data/Managed/UnityEngine.AndroidJNIModule.dll
courseproject_Data/Managed/UnityEngine.AnimationModule.dll
courseproject_Data/Managed/UnityEngine.ARModule.dll
courseproject_Data/Managed/UnityEngine.AssetBundleModule.dll
courseproject_Data/Managed/UnityEngine.AudioModule.dll
courseproject_Data/Managed/UnityEngine.ClothModule.dll
courseproject_Data/Managed/UnityEngine.ClusterInputModule.dll
courseproject_Data/Managed/UnityEngine.ClusterRendererModule.dll
courseproject_Data/Managed/UnityEngine.CoreModule.dll
courseproject_Data/Managed/UnityEngine.CrashReportingModule.dll
courseproject_Data/Managed/UnityEngine.DirectorModule.dll
courseproject_Data/Managed/UnityEngine.dll
courseproject_Data/Managed/UnityEngine.DSPGraphModule.dll
courseproject_Data/Managed/UnityEngine.GameCenterModule.dll
courseproject_Data/Managed/UnityEngine.GIModule.dll
courseproject_Data/Managed/UnityEngine.GridModule.dll
courseproject_Data/Managed/UnityEngine.HotReloadModule.dll
courseproject_Data/Managed/UnityEngine.ImageConversionModule.dll
courseproject_Data/Managed/UnityEngine.IMGUIModule.dll
courseproject_Data/Managed/UnityEngine.InputLegacyModule.dll
courseproject_Data/Managed/UnityEngine.InputModule.dll
courseproject_Data/Managed/UnityEngine.JSONSerializeModule.dll
courseproject_Data/Managed/UnityEngine.LocalizationModule.dll
courseproject_Data/Managed/UnityEngine.ParticleSystemModule.dll
courseproject_Data/Managed/UnityEngine.PerformanceReportingModule.dll
courseproject_Data/Managed/UnityEngine.Physics2DModule.dll
courseproject_Data/Managed/UnityEngine.PhysicsModule.dll
courseproject_Data/Managed/UnityEngine.ProfilerModule.dll
courseproject_Data/Managed/UnityEngine.RuntimeInitializeOnLoadManagerInitializerModule.dll
courseproject_Data/Managed/UnityEngine.ScreenCaptureModule.dll
courseproject_Data/Managed/UnityEngine.SharedInternalsModule.dll
courseproject_Data/Managed/UnityEngine.SpriteMaskModule.dll
courseproject_Data/Managed/UnityEngine.SpriteShapeModule.dll
courseproject_Data/Managed/UnityEngine.StreamingModule.dll
courseproject_Data/Managed/UnityEngine.SubstanceModule.dll
courseproject_Data/Managed/UnityEngine.SubsystemsModule.dll
courseproject_Data/Managed/UnityEngine.TerrainModule.dll
courseproject_Data/Managed/UnityEngine.TerrainPhysicsModule.dll
courseproject_Data/Managed/UnityEngine.TextCoreModule.dll
courseproject_Data/Managed/UnityEngine.TextRenderingModule.dll
courseproject_Data/Managed/UnityEngine.TilemapModule.dll
courseproject_Data/Managed/UnityEngine.TLSModule.dll
courseproject_Data/Managed/UnityEngine.UI.dll
courseproject_Data/Managed/UnityEngine.UIElementsModule.dll
courseproject_Data/Managed/UnityEngine.UIElementsNativeModule.dll
courseproject_Data/Managed/UnityEngine.UIModule.dll
courseproject_Data/Managed/UnityEngine.UmbraModule.dll
courseproject_Data/Managed/UnityEngine.UNETModule.dll
courseproject_Data/Managed/UnityEngine.UnityAnalyticsModule.dll
courseproject_Data/Managed/UnityEngine.UnityConnectModule.dll
courseproject_Data/Managed/UnityEngine.UnityCurlModule.dll
courseproject_Data/Managed/UnityEngine.UnityTestProtocolModule.dll
courseproject_Data/Managed/UnityEngine.UnityWebRequestAssetBundleModule.dll
courseproject_Data/Managed/UnityEngine.UnityWebRequestAudioModule.dll
courseproject_Data/Managed/UnityEngine.UnityWebRequestModule.dll
courseproject_Data/Managed/UnityEngine.UnityWebRequestTextureModule.dll
courseproject_Data/Managed/UnityEngine.UnityWebRequestWWWModule.dll
courseproject_Data/Managed/UnityEngine.VehiclesModule.dll
courseproject_Data/Managed/UnityEngine.VFXModule.dll
courseproject_Data/Managed/UnityEngine.VideoModule.dll
courseproject_Data/Managed/UnityEngine.VirtualTexturingModule.dll
courseproject_Data/Managed/UnityEngine.VRModule.dll
courseproject_Data/Managed/UnityEngine.WindModule.dll
courseproject_Data/Managed/UnityEngine.XRModule.dll
courseproject_Data/Resources/unity default resources
courseproject_Data/Resources/unity_builtin_extra
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker1-prev.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe10.log
Logs/shadercompiler-UnityShaderCompiler.exe11.log
Logs/shadercompiler-UnityShaderCompiler.exe12.log
Logs/shadercompiler-UnityShaderCompiler.exe13.log
Logs/shadercompiler-UnityShaderCompiler.exe14.log
Logs/shadercompiler-UnityShaderCompiler.exe15.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
Logs/shadercompiler-UnityShaderCompiler.exe5.log
Logs/shadercompiler-UnityShaderCompiler.exe6.log
Logs/shadercompiler-UnityShaderCompiler.exe7.log
Logs/shadercompiler-UnityShaderCompiler.exe8.log
Logs/shadercompiler-UnityShaderCompiler.exe9.log
MonoBleedingEdge/EmbedRuntime/mono-2.0-bdwgc.dll
MonoBleedingEdge/EmbedRuntime/MonoPosixHelper.dll
MonoBleedingEdge/etc/mono/browscap.ini
MonoBleedingEdge/etc/mono/config
MonoBleedingEdge/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
MonoBleedingEdge/etc/mono/2.0/machine.config
MonoBleedingEdge/etc/mono/2.0/settings.map
MonoBleedingEdge/etc/mono/2.0/web.config
MonoBleedingEdge/etc/mono/2.0/Browsers/Compat.browser
MonoBleedingEdge/etc/mono/4.0/DefaultWsdlHelpGenerator.aspx
MonoBleedingEdge/etc/mono/4.0/machine.config
MonoBleedingEdge/etc/mono/4.0/settings.map
MonoBleedingEdge/etc/mono/4.0/web.config
MonoBleedingEdge/etc/mono/4.0/Browsers/Compat.browser
MonoBleedingEdge/etc/mono/4.5/DefaultWsdlHelpGenerator.aspx
MonoBleedingEdge/etc/mono/4.5/machine.config
MonoBleedingEdge/etc/mono/4.5/settings.map
MonoBleedingEdge/etc/mono/4.5/web.config
MonoBleedingEdge/etc/mono/4.5/Browsers/Compat.browser
MonoBleedingEdge/etc/mono/mconfig/config.xml
