# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
Assets/RPG Monster Duo PBR Polyart.meta
Assets/Standard Assets.meta
Assets/Tree.prefab
Assets/Tree.prefab.meta
Assets/Tree_Textures.meta
Assets/Prefabs/EnemyBullet.prefab
Assets/Prefabs/EnemyBullet.prefab.meta
Assets/Prefabs/Player 1.prefab
Assets/Prefabs/Player 1.prefab.meta
Assets/RPG Monster Duo PBR Polyart/Animations.meta
Assets/RPG Monster Duo PBR Polyart/Animators.meta
Assets/RPG Monster Duo PBR Polyart/Materials.meta
Assets/RPG Monster Duo PBR Polyart/Meshes.meta
Assets/RPG Monster Duo PBR Polyart/Prefabs.meta
Assets/RPG Monster Duo PBR Polyart/Promotion.jpg
Assets/RPG Monster Duo PBR Polyart/Promotion.jpg.meta
Assets/RPG Monster Duo PBR Polyart/Scenes.meta
Assets/RPG Monster Duo PBR Polyart/Textures.meta
Assets/RPG Monster Duo PBR Polyart/Animations/Slime.meta
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell.meta
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/Attack01_Slime_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/Attack01_Slime_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/Attack02_Slime_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/Attack02_Slime_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/Die_Slime_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/Die_Slime_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/Dizzy_Slime_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/Dizzy_Slime_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/GetHit_Slime_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/GetHit_Slime_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/IdleBattle_Slime_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/IdleBattle_Slime_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/IdleNormal_Slime_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/IdleNormal_Slime_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/Run_Slime_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/Run_Slime_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/SenseSomethingRoutine_Slime_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/SenseSomethingRoutine_Slime_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/SenseSomethingStart_Slime_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/SenseSomethingStart_Slime_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/Taunt_Slime_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/Taunt_Slime_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/Victory_Slime_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/Victory_Slime_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/Walk_Slime_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/Walk_Slime_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/WalkBack_Slime_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/WalkBack_Slime_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/WalkLeft_Slime_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/WalkLeft_Slime_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/WalkRight_Slime_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/Slime/WalkRight_Slime_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/Attack01_TurtleShell_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/Attack01_TurtleShell_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/Attack02_TurtleShell_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/Attack02_TurtleShell_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/Defend_TurtleShell_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/Defend_TurtleShell_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/DefendHit_TurtleShell_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/DefendHit_TurtleShell_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/Die_TurtleShell_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/Die_TurtleShell_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/Dizzy_TurtleShell_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/Dizzy_TurtleShell_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/GetHit_TurtleShell_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/GetHit_TurtleShell_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/IdleBattle_TurtleShell_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/IdleBattle_TurtleShell_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/IdleNormal_TurtleShell_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/IdleNormal_TurtleShell_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/Run_TurtleShell_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/Run_TurtleShell_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/SenseSomethingRT_TurtleShell_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/SenseSomethingRT_TurtleShell_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/SenseSomethingStart_TurtleShell_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/SenseSomethingStart_TurtleShell_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/Taunt_TurtleShell_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/Taunt_TurtleShell_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/Victory_TurtleShell_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/Victory_TurtleShell_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/Walk_TurtleShell_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/Walk_TurtleShell_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/WalkBack_TurtleShell_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/WalkBack_TurtleShell_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/WalkLeft_TurtleShell_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/WalkLeft_TurtleShell_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/WalkRight_TurtleShell_Anim.fbx
Assets/RPG Monster Duo PBR Polyart/Animations/TurtleShell/WalkRight_TurtleShell_Anim.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Animators/Slime.controller
Assets/RPG Monster Duo PBR Polyart/Animators/Slime.controller.meta
Assets/RPG Monster Duo PBR Polyart/Animators/TurtleShell.controller
Assets/RPG Monster Duo PBR Polyart/Animators/TurtleShell.controller.meta
Assets/RPG Monster Duo PBR Polyart/Materials/PolyartDefault.mat
Assets/RPG Monster Duo PBR Polyart/Materials/PolyartDefault.mat.meta
Assets/RPG Monster Duo PBR Polyart/Materials/Skybox_Mat.mat
Assets/RPG Monster Duo PBR Polyart/Materials/Skybox_Mat.mat.meta
Assets/RPG Monster Duo PBR Polyart/Materials/SlimePBR.mat
Assets/RPG Monster Duo PBR Polyart/Materials/SlimePBR.mat.meta
Assets/RPG Monster Duo PBR Polyart/Materials/Stage.mat
Assets/RPG Monster Duo PBR Polyart/Materials/Stage.mat.meta
Assets/RPG Monster Duo PBR Polyart/Materials/TurtleShellPBR.mat
Assets/RPG Monster Duo PBR Polyart/Materials/TurtleShellPBR.mat.meta
Assets/RPG Monster Duo PBR Polyart/Meshes/SlimeMesh.fbx
Assets/RPG Monster Duo PBR Polyart/Meshes/SlimeMesh.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Meshes/SlimeMeshPBR.fbx
Assets/RPG Monster Duo PBR Polyart/Meshes/SlimeMeshPBR.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Meshes/StageMesh.fbx
Assets/RPG Monster Duo PBR Polyart/Meshes/StageMesh.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Meshes/TurtleShellMesh.fbx
Assets/RPG Monster Duo PBR Polyart/Meshes/TurtleShellMesh.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Meshes/TurtleShellMeshPBR.fbx
Assets/RPG Monster Duo PBR Polyart/Meshes/TurtleShellMeshPBR.fbx.meta
Assets/RPG Monster Duo PBR Polyart/Prefabs/Slime.prefab
Assets/RPG Monster Duo PBR Polyart/Prefabs/Slime.prefab.meta
Assets/RPG Monster Duo PBR Polyart/Prefabs/SlimePBR.prefab
Assets/RPG Monster Duo PBR Polyart/Prefabs/SlimePBR.prefab.meta
Assets/RPG Monster Duo PBR Polyart/Prefabs/TurtleShell.prefab
Assets/RPG Monster Duo PBR Polyart/Prefabs/TurtleShell.prefab.meta
Assets/RPG Monster Duo PBR Polyart/Prefabs/TurtleShellPBR.prefab
Assets/RPG Monster Duo PBR Polyart/Prefabs/TurtleShellPBR.prefab.meta
Assets/RPG Monster Duo PBR Polyart/Scenes/DuoScene.unity
Assets/RPG Monster Duo PBR Polyart/Scenes/DuoScene.unity.meta
Assets/RPG Monster Duo PBR Polyart/Scenes/DuoSceneSettings.lighting
Assets/RPG Monster Duo PBR Polyart/Scenes/DuoSceneSettings.lighting.meta
Assets/RPG Monster Duo PBR Polyart/Textures/PBRSlimeAlbedo.png
Assets/RPG Monster Duo PBR Polyart/Textures/PBRSlimeAlbedo.png.meta
Assets/RPG Monster Duo PBR Polyart/Textures/PBRSlimeAO.png
Assets/RPG Monster Duo PBR Polyart/Textures/PBRSlimeAO.png.meta
Assets/RPG Monster Duo PBR Polyart/Textures/PBRSlimeMetallicSmoothness.png
Assets/RPG Monster Duo PBR Polyart/Textures/PBRSlimeMetallicSmoothness.png.meta
Assets/RPG Monster Duo PBR Polyart/Textures/PBRSlimeNormal.png
Assets/RPG Monster Duo PBR Polyart/Textures/PBRSlimeNormal.png.meta
Assets/RPG Monster Duo PBR Polyart/Textures/PBRTurtleShellAlbedo.png
Assets/RPG Monster Duo PBR Polyart/Textures/PBRTurtleShellAlbedo.png.meta
Assets/RPG Monster Duo PBR Polyart/Textures/PBRTurtleShellAO.png
Assets/RPG Monster Duo PBR Polyart/Textures/PBRTurtleShellAO.png.meta
Assets/RPG Monster Duo PBR Polyart/Textures/PBRTurtleShellMetalicSmoothness.png
Assets/RPG Monster Duo PBR Polyart/Textures/PBRTurtleShellMetalicSmoothness.png.meta
Assets/RPG Monster Duo PBR Polyart/Textures/PBRTurtleShellNormal.png
Assets/RPG Monster Duo PBR Polyart/Textures/PBRTurtleShellNormal.png.meta
Assets/RPG Monster Duo PBR Polyart/Textures/PolyartDefaultTex.png
Assets/RPG Monster Duo PBR Polyart/Textures/PolyartDefaultTex.png.meta
Logs/AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
Logs/shadercompiler-UnityShaderCompiler.exe5.log
Logs/shadercompiler-UnityShaderCompiler.exe6.log
Logs/shadercompiler-UnityShaderCompiler.exe7.log
Build.rar
